# HHV preprocessing

## Importing relevant libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
import joblib

## Uploading data

In [27]:
raw_data = pd.read_csv('data.csv',encoding= 'unicode_escape')
raw_data.describe(include='all')

,C,H,O,N,S,A,VM,FC,HHV,type,cluster
count,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490,490
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,271
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,grass/plant,sewage sludge
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,24
mean,46.598755,5.860265,30.933959,1.595735,0.306592,12.603857,69.109510,18.286776,19.300245,NaN,NaN
std,12.289355,3.025841,13.885648,2.250253,0.542458,13.891777,16.320885,12.851428,5.775775,NaN,NaN
min,1.230000,0.730000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,4.220000,NaN,NaN
25%,40.637500,5.085000,21.037500,0.362500,0.040000,3.440000,64.125000,11.617500,16.762500,NaN,NaN
50%,46.300000,5.780000,36.395000,0.780000,0.120000,7.000000,73.400000,16.675000,18.550000,NaN,NaN
75%,49.995000,6.280000,41.487500,1.672500,0.317500,17.007500,79.092500,20.295000,20.282500,NaN,NaN
max,92.040000,59.200000,52.060000,13.800000,4.900000,73.520000,100.000000,89.600000,46.600000,NaN,NaN

In [3]:
# df1= raw_data.describe()
# df1.to_excel("output.xlsx")

In [28]:
raw_data1= raw_data.drop(['HHV','cluster'],axis=1)
raw_data1

         C     H      O     N     S      A     VM     FC                type
0    88.95  0.73   6.04  1.38  0.00   2.90   9.93  87.17             biochar
1    72.30  1.17   0.63  0.37  0.03  25.50   6.00  68.50             biochar
2    82.10  1.45   2.92  0.78  0.05  12.70  10.20  77.10             biochar
3    56.90  2.99  12.10  1.19  0.27  26.60  25.00  48.40             biochar
4    69.80  1.56   2.10  1.14  0.44  25.10  13.00  61.90             biochar
..     ...   ...    ...   ...   ...    ...    ...    ...                 ...
485  71.71  7.02   9.53  1.89  0.27   9.57  55.17  35.26  torrefied material
486  66.46  7.03  18.23  4.08  0.42   3.78  57.79  38.43  torrefied material
487  66.15  5.05  15.19  2.11  0.20  11.29  50.14  38.57  torrefied material
488  77.73  6.28  14.52  0.66  0.08   0.73  62.26  37.01  torrefied material
489  51.90  6.00  41.59  0.10  0.00   0.40  77.80  21.80  torrefied material

[490 rows x 9 columns]

In [29]:
data_with_dummies= pd.get_dummies(raw_data1,columns=['type'])
data_with_dummies

,C,H,O,N,S,A,VM,FC,type_Marine biomass(algae),type_RDF and MSW,type_biochar,type_grass/plant,type_husk/shell/pit,type_manure,type_non-organic residue,type_organic residue/product,type_others,type_sludge,type_straw(stalk/cob/ear),type_torrefied material
0,88.95,0.73,6.04,1.38,0.00,2.90,9.93,87.17,0,0,1,0,0,0,0,0,0,0,0,0
1,72.30,1.17,0.63,0.37,0.03,25.50,6.00,68.50,0,0,1,0,0,0,0,0,0,0,0,0
2,82.10,1.45,2.92,0.78,0.05,12.70,10.20,77.10,0,0,1,0,0,0,0,0,0,0,0,0
3,56.90,2.99,12.10,1.19,0.27,26.60,25.00,48.40,0,0,1,0,0,0,0,0,0,0,0,0
4,69.80,1.56,2.10,1.14,0.44,25.10,13.00,61.90,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,71.71,7.02,9.53,1.89,0.27,9.57,55.17,35.26,0,0,0,0,0,0,0,0,0,0,0,1
486,66.46,7.03,18.23,4.08,0.42,3.78,57.79,38.43,0,0,0,0,0,0,0,0,0,0,0,1
487,66.15,5.05,15.19,2.11,0.20,11.29,50.14,38.57,0,0,0,0,0,0,0,0,0,0,0,1
488,77.73,6.28,14.52,0.66,0.08,0.73,62.26,37.01,0,0,0,0,0,0,0,0,0,0,0,1
489,51.90,6.00,41.59,0.10,0.00,0.40,77.80,21.80,0,0,0,0,0,0,0,0,0,0,0,1

In [30]:
raw_data2 = data_with_dummies.copy()

In [31]:
raw_data2['HHV']= raw_data['HHV']

In [32]:
raw_data2.describe(include='all')

,C,H,O,N,S,A,VM,FC,type_Marine biomass(algae),type_RDF and MSW,...,type_grass/plant,type_husk/shell/pit,type_manure,type_non-organic residue,type_organic residue/product,type_others,type_sludge,type_straw(stalk/cob/ear),type_torrefied material,HHV
count,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,...,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000
mean,46.598755,5.860265,30.933959,1.595735,0.306592,12.603857,69.109510,18.286776,0.022449,0.040816,...,0.218367,0.146939,0.036735,0.048980,0.191837,0.024490,0.075510,0.106122,0.032653,19.300245
std,12.289355,3.025841,13.885648,2.250253,0.542458,13.891777,16.320885,12.851428,0.148290,0.198067,...,0.413560,0.354407,0.188302,0.216046,0.394148,0.154722,0.264483,0.308309,0.177908,5.775775
min,1.230000,0.730000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.220000
25%,40.637500,5.085000,21.037500,0.362500,0.040000,3.440000,64.125000,11.617500,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.762500
50%,46.300000,5.780000,36.395000,0.780000,0.120000,7.000000,73.400000,16.675000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.550000
75%,49.995000,6.280000,41.487500,1.672500,0.317500,17.007500,79.092500,20.295000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.282500
max,92.040000,59.200000,52.060000,13.800000,4.900000,73.520000,100.000000,89.600000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,46.600000

In [72]:
# sns.distplot(raw_data1['HHV'])

In [31]:
# raw_data2= raw_data1.drop(['O','N','S','VM'],axis=1)

In [32]:
# raw_data2.describe()

### Inserting data into array/dividing it into inputs and targets

In [33]:
my_data = np.array(raw_data2)

In [34]:
unscaled_inputs_all = my_data[:,:20]
targets_all = my_data[:,20:21]
targets_all.max()

46.6

In [35]:
t1 = scaler.fit(unscaled_inputs_all.astype(np.float64))
joblib.dump(t1,'f3')

['f3']

In [36]:
t2 = scaler.fit(targets_all.astype(np.float64))
joblib.dump(t2,'f4')

['f4']

### scaling our data

In [115]:

scaled_inputs = scaler.fit_transform(unscaled_inputs_all.astype(np.float64))
scaled_targets = scaler.fit_transform(targets_all.astype(np.float64))

### shuffling our data

In [116]:
#HHV yield
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)

shuffled_inputs = scaled_inputs[shuffled_indices]
shuffled_targets =scaled_targets[shuffled_indices]

### Dividing data into train/validation/test

In [117]:
samples_count = shuffled_inputs.shape[0]

train_samples_count = int(0.7*samples_count)
validation_samples_count = int(0.15*samples_count)
test_samples_count = samples_count - train_samples_count - validation_samples_count

train_inputs = shuffled_inputs[:train_samples_count]
train_targets = shuffled_targets[:train_samples_count]

validation_inputs = shuffled_inputs[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = shuffled_targets[train_samples_count:train_samples_count+validation_samples_count]

test_inputs = shuffled_inputs[train_samples_count+validation_samples_count:]
test_targets = shuffled_targets[train_samples_count+validation_samples_count:]

print(np.sum(train_targets), train_samples_count, np.sum(train_targets) / train_samples_count)
print(np.sum(validation_targets), validation_samples_count, np.sum(validation_targets) / validation_samples_count)
print(np.sum(test_targets), test_samples_count, np.sum(test_targets) / test_samples_count)

122.4454931571496 343 0.3569839450645761
25.032562529495046 73 0.34291181547253485
26.88060405851817 74 0.3632514061961915

### Saving data as npz file

In [118]:
#HHV Yield
np.savez('bio4', inputs=train_inputs, targets=train_targets)
np.savez('bio5', inputs=validation_inputs, targets=validation_targets)
np.savez('bio6', inputs=test_inputs, targets=test_targets)